<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/create-api" method="post">
        <label>id:</label>
        <input type="text" id="id" name="id"><br>

        <label>Дата добавления:</label>
        <input type="date" id="date" name="date"><br>

        <label>Вид оргтехники:</label>
        <input type="text" id="orgtech" name="orgtech"><br>

        <label>Модель:</label>
        <input type="text" id="model" name="model"><br>

        <label>Описание проблемы:</label>
        <input type="text" id="problemdeskription" name="problemdeskription"><br>

        <label>ФИО клиента:</label>
        <input type="text" id="bioclient" name="bioclient"><br>

        <label>Номер телефона:</label>
        <input type="text" id="numberphone" name="numberphone"><br>
        
        <label>Статус заявки:</label>
        <input type="text" id="status" name="status"><br>
        
        <input type="submit" value="Submit">
      </form>
</body>
</html>