<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/update-api" method="post">
        <label>id:</label>
        <input type="text" id="id" name="id"><br>

        <label>Описание проблемы:</label>
        <input type="text" id="description" name="description"><br>
        
        <label>Статус заявки:</label>
        <input type="text" id="status" name="status"><br>
        <label>Ответственный :</label>
        <input type="text" id="otvetsvenye" name="otvetsvenye"><br>
        <label>Коментарий:</label>
        <input type="text" id="comments" name="comments"><br>


        <input type="submit" value="Submit">
      </form>
</body>
</html>